---
---
@import "variables.scss";
@import "base.scss";
@import "tiles.scss";
@import "post-images.scss";
@import "gallery.scss";

body {
    padding: 16px;
}

.site-footer {
    padding-top: 64px;
}

header { padding-top: 0 !important;  }

header a {
    text-decoration: none;
}

@media screen and (max-width: $bp-med) { 
    .top-nav ul {
        display:flex;
        flex-direction: row;
        margin: 24px 0;
    }
    .top-nav ul li::before { content: ""; }
    .top-nav ul li::after {
        content: "·";
        margin: 0 8px 0 4px;
    }
    .top-nav ul li:last-child::after {
        content: "";
        margin: 0;
    }
    
    @media screen and (min-width: $bp-small) and (max-width: $bp-med) {
        body { padding: 32px;}
        .top-nav {
            position:absolute;
            top: 28px;
            right: 48px;
        }
        .container-main header { margin-bottom: 48px; }
    }
}

@media screen and (min-width: $bp-med) { 
    body {
        padding: 32px;
    }
    .top-nav ul li::before {
        content: "·";
        margin: 0 8px 0 9px;
    }
    .top-nav ul li:hover::before {
        content: "»";
        margin: 0 8px 0 4px;
    }
    .container-main { display: flex; }
    .container-main header { 
        width: 320px; 
        display: flex;
        flex-direction: column;
        gap: 32px;
        padding: 14px 0;
    }
    .container-main main { 
        flex: 1; 
    }
    .container-main p {
        max-width: 40rem; 
    }
}

    footer {
        text-align: right;
    }

.post-list {
    margin: 0;
    padding: 0;
}

.post-list-row {
    list-style-type: none;
    margin: 0;
    padding: 16px 0;
}
.post-list-row:nth-child(even) {
    background-color: #fafafa;
}

.post-list-row .post-time {
    display:block;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 400;
    color: #666;
}
.post-list-row .time-to-read { 
    font-size: 0.8rem; 
    display: inline-block;
}



@media screen and (min-width: $bp-small) { 
    .post-list-row {
        display: flex;
        align-items: baseline;
        gap: 16px;
        padding: 8px 0;
    }
    .post-list-row .post-time {
        display: inline-block;
    }
    .post-time { width: 80px; }
    .post-list-row .time-to-read { width: 140px; }
    .post-title {
        flex: 1;
    }
}


.post-list-item {
    margin: 8*$base 4*$base;
    .post-list__title {
        margin: 0;
        font: $fw-head 2rem /1.4 $font-head; letter-spacing:.1rem;
    }
}

@media screen and (max-width: $bp-med) { 
    .post-list-item {
        margin: 8*$base 0;
    }
}


header h1 {
    font: $fw-body 0.7rem /1.6 $font-body; 
}
header h1 a { 
    font-weight: $fw-body; 
}
header h1 a.parent-site {
    text-transform: uppercase;
}
header h1 a.home-link { 
    font: $fw-head-bold 1.2rem /1.6 $font-head;
    display: block;
}

.blog__yearlist {
    border-top: 1px solid $c-grey-60;
    border-bottom: 1px solid $c-grey-60;
    padding: 24px 0;

    @media screen and (min-width: $bp-med) { 
        display: flex;
        gap: 24px;
        position: relative;
        top: -8px;
    }

    ul {
        list-style-type: square;
        margin: 0;
        padding: 0;
        list-style-type: none;

        li {
            display: inline-block;
            margin: 0;

            &:not(:last-child)::after {
                content: "·";
                margin: 0;
                padding: 0 8px 0 16px;
            }
        }
    }
}

.post__header {
    padding-top: 42px;
    padding-bottom: 32px;
}

.post__header h1 {
    line-height: 1.1;
    margin: 0;
    padding: 0 0 8px 0;
}

.post__header .post__meta {
    font-size: 12px;
    text-transform: uppercase;
}

.post__colophon {
    margin-top:120px;
    padding:24px 0;
    text-align: right;
}

.post__nav {
    display: flex;
    border-top: 1px solid $c-grey-60;
    border-bottom: 1px solid $c-grey-60;

    .prev, .next {
        display: inline-block;
        width: 50%;
        margin: 0;
        padding: 24px 32px;
        text-decoration: none;

        &:hover { 
            background-color: $c-grey-80;
        }

        small {
            color: $c-text;
            text-transform: uppercase;
            display: block;
        }
    }
    .prev { 
        text-align: right;
        border-right: 1px solid $c-grey-60;
        padding-left: 0;

        & span::before {
            content: "« ";
            color: $c-accent;
            margin-right: 8px;
            transition: margin-right 0.1s ease-in-out;
        }

        &:hover span::before { 
            margin-right: 16px;
        }
    }

    .next {
        padding-right: 0;
        
        & span::after {
            content: " »";
            color: $c-accent;
            margin-left: 8px;
            transition: margin-left 0.1s ease-in-out;
        }
    
        &:hover span::after  { 
            margin-left: 16px;
        }

    }
}

nav ul {
    margin: 0;
    padding: 0;

    li {
        font-weight: $fw-head;
        font-family: $font-head;
        list-style-type: none;

        a {
            text-decoration: none;
        }
    }
}

.highlight {
    white-space: break-spaces;
}

.about-avatar {
    float: right;
    width: 120px;
    position: relative;
    top: -150px;
}


.notes-list {
    border-left: 1px solid $c-grey-60;
    padding: 4* $base;

    .notes-list__title {
        font: $fw-body-bold 0.8rem /1.3 $font-body;
        letter-spacing: 0;
        font-style: italic;
        &::before {
            display: block;
            content : "";
            width: 2* $base;
            height: 2* $base;
            background: $c-gold-20;
            position: relative;
            left: -40px;
            top: 18px; 
            border-radius: 50px;
        }
    }
}