---
layout: default
---
<main class="blog-posts">
  {%- assign years = site.posts | group_by_exp: "post", "post.date | date: '%Y'" %}
  <div class="blog__yearlist">
    <span>Jump to year: </span>
    <ul>
      {%- for year in years %}
        <li><a href="#yr{{ year.name }}">{{ year.name }}</a></li>
      {% endfor %}
    </ul>
  </div>


  {%- for year in years %}
    <h3 id="yr{{ year.name }}" class="post-list-title">{{ year.name }}</h3>
    {%- assign posts = year.items %}
    <ul class="post-list">
      {%- for post in posts %}
        <li class="post-list-item" data-category="{{ post.categories | join: ';' }}" {% if post.img %}data-img="{{ post.img | img_url_prefix }}"{% endif %}>
          <span class="post-time">{{ post.date | date: "%e %b" }}</span>
          <span class="post-title">
            <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
          </span>
          <span class="time-to-read">
            {%- if post.draft != true %}
              {% include time-to-read.html -%}
            {% else %}
              Draft
            {% endif %}
          </span>
        </li>
      {%- endfor %}
    </ul>
  {%- endfor %}
</main>