---
layout: default
---
<main class="archive-posts">
  {%- assign years = site.posts | group_by_exp: "post", "post.date | date: '%Y'" %}
  <div class="blog__yearlist">
    <span>Years: </span>
    <ul>
      {%- for year in years %}
        <li><a href="#yr{{ year.name }}">{{ year.name }}</a></li>
      {% endfor %}
    </ul>
  </div>

  {% assign notes-count =  site.categories.notes.size %}

  {%- for year in years %}
    <h3 id="yr{{ year.name }}" class="post-list-title">{{ year.name }}</h3>
    {%- assign posts = year.items %}

    <ul class="post-list">
      {%- for post in posts %}
        {%if post.categories[0] == "notes" %} 
          {% assign title = "Snippet #" | append: notes-count %}
          {% assign notes-count =  notes-count | minus: 1 %}
        {% else %}
          {% assign title = post.title %}
        {% endif %}

        <li class="post-list-row" data-category="{{ post.categories | join: ';' }}" {% if post.img %}data-img="{{ post.img | img_url_prefix }}"{% endif %}>
          <span class="post-time">{{ post.date | date: "%e %b" }}</span>
          <span class="post-title">
              <a href="{{ post.url | relative_url }}">{{ title }}</a>
          </span>
          <span class="time-to-read">
            {%- if post.draft != true %}
              {% include time-to-read.html -%}
            {% else %}
              Draft
            {% endif %}
          </span>
        </li>
      {%- endfor %}
    </ul>
  {%- endfor %}
</main>