---
layout: default
---
<main class="post__wrapper">
  <article class="post">
    <div class="post__header">
      <h1 class="post__title">{{ page.title | escape }}</h1>
      <div class="post__meta">
          {% include time-to-read.html -%}
      </div>
    </div>
    <div class="post__content">
      {{ content | toc | img_prefix }}
    </div>
    <div class="post__colophon">
      Published by <a href="mailto:{{ site.author.email }}">{{ site.author.name }}</a>
      on <time>{{ page.date | date: "%e %B %Y" }}</time>
    </div>
  </article>
  {% include post-nav.html %}
</main>